language: node_js
node_js:
   - 0.6
   - 0.8

before_install:
  - sudo apt-get update
  - sudo apt-get install libcv-dev
  - sudo apt-get install libopencv-dev
  - sudo apt-get install libhighgui-dev
