language: node_js
node_js:
   - 0.6

before_install:
  - sudo apt-get install libopencv-dev
  - sudo apt-get install libhighgui-dev
  - pkg-config --libs opencv
  - pkg-config --cflags opencv
  - ls /usr/include/opencv
